.content{
    display: flex;
    flex-direction: column;
}

.content > span{
    display: flex;
}

.head-span{
    padding: 0 1rem;
    text-align: center;
}

.body-span{
    display: grid;
    grid-template-columns: repeat(3, 12rem);
}